@import "~styles/scss/variables/color.scss";

$text-field-border-size: 1px;

$large-text-field-width: 778px;
$large-text-field-padding-y: 9px;
$large-text-field-padding-x: 16px;

$medium-text-field-width: 100px;
$medium-text-field-padding-y: 5px;
$medium-text-field-padding-x: 16px;

$small-text-field-width: 90px;
$small-text-field-padding-y: 3px;
$small-text-field-padding-x: 16px;

.TextField {
	box-sizing: border-box;
	border-radius: 4px;
	border: solid $text-field-border-size $brownish-grey;
	padding: 9px 16px;
	display: inline-flex;
	font-size: 14px;
	flex-wrap: "wrap";
	line-height: 1.43;
	color: white;
	&.disabled,
	&:disabled {
		background-color: $black;
		color: $brownish-grey;
	}

	.input {
		width: 100%;
		outline: unset;
		border: unset !important;
		padding: 0;
		color: inherit;
		background-color: inherit;
		height: 20px;
		&:focus {
			outline: unset;
		}
		&:disabled {
			background-color: inherit;
			color: inherit;
		}
	
	}
	.icon {
		cursor: pointer;
		width: 20px;
		height: 20px;
		> * {
			width: inherit;
			height: inherit;
		}
	}

	.extension {
		padding-left: 4px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: normal;
		color: $brownish-grey;
	}

	&.inputting {
		border: solid 1px $orange-yellow;

		&.error {
			border: solid 1px $red;
		}
	}

	&.error {
		border: solid 1px $red;
	}

	&.large {
		width: $large-text-field-width;
	}

	&.medium {
		padding: 5px 16px;
		width: $medium-text-field-width;

		.input {
			height: 20px;
		}
		.icon {
			height: 20px;
			width: 20px;
		}
	}

	&.small {
		width: $small-text-field-width;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.5;
		padding: $small-text-field-padding-y $small-text-field-padding-x;
		.icon {
			height: 18px;
			width: 18px;
		}
		.input {
			height: 18px;
		}
	}

	&.fullWidth {
		display: flex;
		width: unset;
	}
}

.HelperText {
	margin-top: 9px;
	text-align: left;
}
